<div class="home-title inside-title">
  <h2>Shiou-ping Chu, 3734303</h2>
</div>
<div class="inside-body">
  <div class="home-container">
    <div class="inside-content">
      <h3>Origin: Taiwan</h3>
      <h3>s3734303@student.rmit.edu.au</h3>
      <h3>Language: Chinese/English</h3>
      <h3>Hobby: Video game, music, computer hardware, internet bloodsports</h3>
      <div>
        <h3>Lore:</h3>
        <p style="width: 700px">
          Originally enrolled to software engineering, but unable to find an internship and failed on AI and computing theory, so I was cast down to Information technology.
        </p>
      </div>
      <div>
        <h3>Education</h3>
        <p>Information Technology (2022)</p>
        <p>Software Engineering (2019-2021)</p>
        <p>[REDACTED] (-2018)</p>

      </div>
    </div>
  </div>
  <div class="my-photo">
    <img class="profile" src="https://melmagazine.com/wp-content/uploads/2021/01/66f-1.jpg" width="400" alt="me fr">
  </div>
</div>

<div class="home-container">
  <div class="inside-content home-container">
    <div>
      <h2>Interest in IT</h2>
      <div>
        <h3>What is your interest in IT? When did your interest in IT start?</h3>
        <p>Mostly started from video game, then building computer, eventually start trying to write code to see if I can do it myself and to peek what it looks like behind the scenes. </p>
      </div>
      <div>
        <h3>Why did you choose to come to RMIT?</h3>
        <p>After some massive academic failure back in home country I decided to make a last-ditch effort to turn my life around, picked RMIT because name sounds dope and it's in city, so I don't have to worry about transport.</p>
      </div>
      <div>
        <h3>What do you expect to learn during your studies?</h3>
        <p>I probably learned most thing I need to learn already this semester is mostly an overtime due to all the unfortunate circumstances.</p>
      </div>
    </div>
    </div>
  <div class="my-photo">
    <img src="https://w0.peakpx.com/wallpaper/233/587/HD-wallpaper-giga-chad-hair-memes.jpg" width="400" alt="me fr">
  </div>
</div>




