<h1 class="inside-title">Ideal Job</h1>
<div class="inside-content">
  <a href="https://archive.ph/vfP3P">Software Engineer (Sydney or Melbourne based) </a>
  <div>
    <h2>Description and Interest</h2>
    <p>
      A leading position in a sized Java-based software developing team which includes architect design and quality control. This role involved project managing and pipeline control, which are what I've learned for the past few years so naturally a job I'm interested, after all I don't want my works in RMIT go to waste.
    </p>
  </div>
  <div>
    <h2>Skill requirements</h2>
    <div>
      <p>
        •	Java along with framework system (Spring Soot) and dependency manager like Gradle and Maven (Yes)<br>•	Continuous Integration with CircleCI (I some what learned the concept form Software Engineering - Process & Tools but have little understanding, might need to revise on this subject)<br>
        •	Relational Database such as SQL (Yes)<br>
        •	Web API (I have certain degree of knowledge on API design)<br>
        •	AWS (I have knowledge and EC2, Beanstalk, DynamoDB)<br>
        •	Git and GitHub (Yes)<br>
        •	Docker (I have experiences in container deployment setup but never really build an image, the think I can try is build small applications in container as practice)<br>
        •	Data ETL (I have no idea what this so probably need to go on internet and learn it myself)<br>
        •	7+ years of work experience (self explanatory also a catch-22 problem)<br>
        •	Experience in finance and marketing industries (I have never touch such of things, maybe start from some entry position in financial institution)<br>
      </p>
    </div>
  </div>
</div>
