<h1>Ideal Job</h1>
<div>
  <a href="https://archive.ph/vfP3P">Software Engineer (Sydney or Melbourne based) </a>
  <div>
    <h2>Description and Interest</h2>
    <p>
      A leading position in a sized Java-based software developing team which includes architect design and quality control. This role involved project managing and pipeline control, which are what I've learned for the past few years so naturally a job I'm interested, after all I don't want my works in RMIT go to waste.
    </p>
  </div>
  <div>
    <h2>Skill requirements</h2>
  </div>
</div>
