/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #000000;
    color:#E7E9EA;
}
.content{
    padding-top: 1px;
}
.home_text {
    -webkit-animation: fadeIn 2s;
    text-align: center;
    font-size: 120px;
}
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
.global-nav{
    background-color: #0F1419;
    box-sizing:  content-box;
    width: 100%;
    margin-top: -9px;
    margin-left: -9px;
    position: fixed;
    opacity: 1;
    z-index: 1;
}
.global-nav-item{
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: top;
    color:#E7E9EA;
    padding-right: 30px;

}
.global-nav-item a{
    color:#E7E9EA;
    font-family: "SF Pro Display", ui-rounded;
    text-decoration: none;
}
#global-nav-content{
    overflow: hidden;
    align-self: center;
    direction: ltr;
}
#global-nav-content ul{
}