<h1 class="inside-title">Project</h1>
<div class="inside-title">
  <h2>Web3 Shopping website application<br></h2>
  <div class="inside-content">
    <div>
      <h2>Overview</h2>
      <div>
        <p>An online shopping platform where we allow user to buy and sell items with each other. This website will be compatible with both desktop and mobile environment, as well as basic theme options like light and dark mode. Buyer can browse and search item through keyword and trending, after creating an account they can add these items to shopping cart and later check out. This platform will have a database system to keep everything in track. Unlike conventional online store front, we allow our buyer and seller accept the crypto of their choice, not just cryptocurrency but non fungible token if seller accept its perceived value, we also give buyer an additional option to mint their invoice into NFT as part of web3 integration.</p>
      </div>
    </div>
      <div>
        <h2>Motive</h2>
        <div>
          <p>
            Despite the booming of web3 and metaverse, most of the online shopping site still using traditional means for monetary transaction, as we see many examples of big tech & big finance censorship on individual with the "wrong think". One way they cut off these poor fellas is by denied payment though conventional services like VISA and Mastercard. My goal is to provide a platform to sell their product (like merchandises of certain kind of internet streamer /celebrities), free from the grasp big tech companies and their puppet master. On top of that web3 has promise us the idea of monetizing our online activity instead of let Facebook does it for us. We allow buyer to use their NFTs as a form of currency, even resell the receipt of purchase as commodity itself.
          </p>
        </div>
      </div>
      <div>
        <h2>Description</h2>
        <div>
          <p>
            The platform will mainly be accessed through web browser, a search bar that allows users entering keyword to search product and beneath that is the homepage that display trending item. Anyone can browse website but for any further will require user registration.  After created account user can now placing order as well as listing items. Before checking out user can add stuffs to shopping cart to check out later. Seller has the option of set whether it's a buy it now or auction item, and the currencies they will accept, buyer can also offer NFT as payment should the buyer accept. For account management user can change their display name, password.... thought a profile portal.
            Because this is a web3 platform we plan to integrate blockchain technology as part of our system. This will be our method to facilitate financial transaction, because blockchain is decentralized our service will be resilient to embargo from external financial services, although this mean any transaction with crypto will be on chain. After transaction complete, we also give user the option to mint their invoice as NFT.
            Beside traditional goods it is also a platform to trade, bid and sell NFTs as they're physical entities, because the future is web3 and metaverse want to see for NFTs with genuine utilities like tickets or a prove of ownership for something conceptual which cannot be enforce by traditional copyright or IP law.
          </p>
        </div>
      </div>
      <div>
      <div>
        <h2>Tools and technology</h2>
        <div>
          <p>
            This system will be built on ruby on rails.  Rails is a framework for rapid application development which cover both front and backend that use the model views controller paradigm, which simplify the process of website rendering and backend database handling.
            To keep track user and items we'll PostgreSQL or other similar relational database system, SQL is rigid compares to document-based database like MongoDB makes it suitable for our application as it involved financial transaction.
            Ethereum library is used to handle transaction of crypto and NFT.
            The application will be hosted on a cloud platform, so we don't have to pay for upfront equipment cost.<br>
            Our IDE choice will be IntelliJ IDEA.
          </p>
        </div>
      </div>
    <div>
      <h2>Skill requirement</h2>
      <div>
        <p>
          Because we're using ruby on rails the ability to code in Ruby is essential, ruby is a scripting language that in many ways similar to python, while there's a learning curve it shouldn't be a huge barrier, however, to ensure website function properly we also need to know how to use Rails API like session and cookies. To make website appealing, html, CSS, JavaScript skills are important, these are entry languages that should be readily for the most aspiring programmers.
          Knowledge of blockchain and its implementation would probably be the biggest hurdle, since I never have any experience in blockchain programming. But consider how many blockchain project and NFT rug pull out there it shouldn't be that hard to learn.
        </p>
      </div>
    </div>
        <div>
          <h2>Outcome</h2>
          <div>
            <p>
              Once complete, we should have a website with interface kin to mainstream shopping site, but more importantly, a step to make cryptocurrency a viable option for commerce and not just finance tool for speculation. While people buying real commodities online with bitcoin directly isn't a new idea, it was first adopted by illegal operations like drugs and document forgery, we want crypto being used in day-to-day purchase.
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
