<h1 class="inside-title">Profile</h1>
<div class="inside-content">
  <div>
    <table>
      <tr>
        <th><a>Myers-Briggs</a></th>
        <th><a>education planner</a></th>
        <th><a>8 values</a></th>
      </tr>
      <tr>
        <td><%= image_tag("test1.png", width: 300) %></td>
        <td><%= image_tag("test2.png", width: 300) %></td>
        <td><%= image_tag("test3.png", width: 300) %></td>
      </tr>
    </table>
  </div>
</div>
