<h1 class="inside-title">Profile</h1>
<div class="inside-content">
  <div>
    <table>
      <tr>
        <th><a>Myers-Briggs</a></th>
        <th><a>education planner</a></th>
        <th><a>8 values</a></th>
      </tr>
      <tr>
        <td><%= image_tag("test1.png", width: 300) %></td>
        <td><%= image_tag("test2.png", width: 300) %></td>
        <td><%= image_tag("test3.png", width: 300) %></td>
      </tr>
    </table>
  </div>
  <div>
    <h2>Analysis</h2>
    <div>
      <p>
        For the result I believe it's saying I'm that kind of person who a lot of time either worrying about if something will work, or just hope it would just work out on it own, probably would paralysis just by thinking yet too much of shut in to ask for help. In term of learning style, I believe it's indicating that I'm not a good listener, I'd assume it's due to my ability to concentrate when receiving information passively. For the last one probably means that I should hide some aspect of my person feeling and be very careful what comes out of my mouth as they're not popular given the current mainstream corporate policies. However, I generally don't put much though on these sorts of online testing, in the end what important are whether I can achieve my objective and how others perceive me even it's merely a facade.
        For forming a team, I usually prefer to do what my teammates instruct me rather than decide the direction of whole team consider how much I flip-flop on my decision.
      </p>
    </div>
  </div>
</div>
