<header>
  <div class="global-nav">
    <nav>
      <div id="global-nav-content">
        <ul>
          <li class="global-nav-item"><a><%= link_to 'Assignment 1', root_path %></a></li>
          <li class="global-nav-item"><a><%= link_to 'profile', profile_path%></a></li>
          <li class="global-nav-item"><a><%= link_to 'idea job', job_path%></a></li>
          <li class="global-nav-item"><a><%= link_to 'project', 'project'%></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <a><br><br></a>
</header>